* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

img {
  width: 200px;
}

:root {
  --logofont: "DM Serif Display";
  --primaryfont: "Playfair Display", serif;
  --secondaryfont: "Open Sans";
  --white: #ffffff;
  --lightgray: #9e9d9d;
  --gray: #656565;
  --green: #E4EDEA;
  --beige: #fbf5f5;
  --shadow: #f2f2f2;
  --footer-color: #1f1f1f;
  --footer-color-lighter: #2d2d2d;
}

