header {
  width: 100%;
  height: 4rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 1px 1px var(--lightgray);
  background-color: var(--white);
}

header img {
  max-width: 100%;
}

#nav-checkbox {
  display: none;
}

.hamburger-button {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger-line {
  background-color: black;
  height: 4px;
  transition: 0.3s;
  position: absolute;
}

.line-top {
  width: 60%;
  top: 0;
}

.line-middle {
  top: 10px;
  width: 100%;
}

.line-bottom {
  top: 20px;
  width: 60%;
  right: 0;
}

#nav-checkbox:checked ~ .hamburger-button > .line-top {
  transform: rotate(45deg);
  top: 10px;
  width: 100%;
}
#nav-checkbox:checked ~ .hamburger-button > .line-middle {
  display: none;
}
#nav-checkbox:checked ~ .hamburger-button > .line-bottom {
  transform: rotate(-45deg);
  top: 10px;
  width: 100%;
}

nav {
  display: flex;
}

.nav-list-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10vw;
  top: 4rem;
  visibility: hidden;
  width: 80vw;
  height: 21rem;
  padding: 2rem;
  background-color: var(--white);
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 3px solid var(--green);
}

.nav-list_elem {
  padding: 1rem 0;
  border-bottom: 1px solid rgb(233, 233, 233);
  font-family: var(--secondaryfont);
  cursor: pointer;
  transition-duration: 0.3s;
}

.nav-list_elem a {
  color: var(--gray);
}

.nav-list_elem:hover {
  background-color: #e0e0e0;
  transition-duration: 0.3s;
}

#nav-checkbox:checked ~ .nav-list-container {
  visibility: visible;
}

@media screen and (min-width: 576px) {
  header {
    padding: 1rem 4rem 1rem 2rem;
  }
  header img {
    height: 2rem;
    width: auto;
  }

 

@media screen and (min-width: 992px) {
  header {
    padding: 1rem 4rem 1rem 2rem;
    height: 6rem;
  }
  header img {
    height: 3rem;
    width: auto;
  }

  .hamburger-button {
    display: none;
  }

  .nav-list-container {
    flex-direction: row;
    justify-content: end;
    position: static;
    visibility: visible;
    width: 100%;
    height: auto;
    padding: 0;
    font-weight: 500;
    box-shadow: none;
    border: none;
    gap: 1rem;
  }
  .nav-list_elem {
    border-bottom: none;
}
}

@media screen and (min-width: 1200px) {
  .nav-list-container {
    gap: 3rem;
  }
}
